*{
    box-sizing: border-box; 
}

#cabeceraCompleta{
display: flex;
flex-direction: column;
}

#logoReturnHome{
width: 25%;
}

#titulo{
  width: 100%;
  text-align: center;
}

#imagenLogo{
   width: 200px;
   height:200px;
   margin-left:15px;
}

h1{
  font-size: 60px;
  font-family: 'Abel';
  text-decoration: underline;
}

body{
    background-color: rgba(244, 246, 246, 0.95);
}

h2{
    font-size: 40px;
    font-family: 'Abel';
    text-align: center;
    margin-top: 0px;
}

h3{
    font-size: 50px;
    font-family: 'Abel';
    text-align: center;
}

#titulo{
    margin-bottom: 0px;
}

#calendarioCompleto{
    display: flex;
    flex-direction: row;
    margin: 200px;
    margin-top: 100px;
}

table{
    box-shadow: -1px -1px 12px 15px rgba(0,0,0,0.41);
}

#tablaCalendario {
    display: flex;
    flex-direction: column;
}  

#botonIzquierda{
    margin-top: 620px;
    margin-right: 50px;
}

#botonDerecha{
    margin-top: 620px;
    margin-left: 50px;
}

h2 {
    text-align: center;
}

td,th, tr {
    border: 1px solid black;
    padding: 10px;
    height: 80px;
    font-size: 50px;
    text-align: center;
} 

table{
    border-spacing: 0px;
    visibility: show;
}

.festivo{
    background-color: rgb(201, 255, 255);
}


#buttonCheck{
    display: flex;
    flex-direction: column;
    margin: 0px 0pc 0pc 50px;
    padding: 20px;
}

.laboral{
    background-color: rgba(255, 255, 255, 0.991);
}

/*
td:hover:not(.noStyle){
    -webkit-transform:scale(1);
  -moz-transform:scale(1.30);
  transform:scale(1.30);
  opacity: 100;
}
*/

.modal {
    font-family: 'Abel';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }

  .modal header{
    font-size: 60px;
    text-decoration: underline;
  }
 
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-dialog {
    position: relative;
    box-shadow: 0px 3px 12px 13px rgba(109,109,109,0.96);
    width: 1000px;
    height: 700px;
    background-color: rgb(244, 246, 246);
    padding: 2rem;
  }

  .modal-content{
    height: 550px;
    width: 930px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .close-modal{
    top:10px;
    right:12px;
    position:absolute;
    cursor:pointer;
    border-radius: 25%;
  }

  .open-modal{
    width: 80px;
    height: 30px;
  }

  #titleModel{
    margin-left: 180px;
  }

  #diaNum_Let{
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  #diaEnModelLetra{
    margin-bottom: 0px;
    font-size: 40px;
  }

  #diaEnModelNumero{
    font-size: 400px;
    margin-top: 0px;
  }

  #boxCompleto{
    display: flex;
    flex-direction: ROW;
    margin-top: 50px;
  }
  
  #boxJornada{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    width: 400px;
  }

  #boxEstado{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    margin-top: 0px;
    margin-left: 15px;
    width: 400px;
  }

  input {
    width: 25px;
    height: 25px;
  }
 
  
  
  
  


















